body {
}
.green {
    width: 100%;
    max-width: 500px;
    background-color: forestgreen;
    margin: 0 auto;
}
.blue {
    width: 100%;
    max-width: 500px;
    background-color: blue;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
