body {
}
.purple {
    position: static;
    background: blueviolet;
    width: 150px;
    height: 100px;
}
.red {
    position: relative;
    background: darkred;
    width: 150px;
    height: 100px;
}
.ocher {
    position: relative;
    background: peru;
    width: 150px;
    height: 100px;
    bottom: 25px;
    left: 25px;
}
.coral {
    position: relative;
    background: indianred;
    height: 350px;
    width: 550px;
    top: 10px;
}
.indigo {
    position: absolute;
    background: indigo;
    height: 150px;
    width: 300px;
    left: 250px;
    top: 125px;
}
.green {
    position: fixed;
    background: forestgreen;
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
    z-index:-1;
    color:white;
}